<!DOCTYPE html>
<html>
  <head>
    <title>Kirk's Trucks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div><h1 class="logo"><%= link_to "Kirk's Trucks", root_path %></h1></div>
      <nav>
        <%= link_to "Services", anchor: "services"  %>
        <%= link_to "Contact", anchor: "contact" %>
        <%= link_to "About", anchor: "about" %>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <p>
        <%= mail_to "Kirks@example.com" %><br />
        <%= phone_to "000-000-0000" %><br />
        123 Truck Dr, Truck USA
      </p>
    </footer>
  </body>
</html>
